.main-text{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;

    letter-spacing: 1px;
}

.about-first-img img{
    float:left;
    padding-right:30px;
    width:400px;
    height:100%;
}

.about-body{
    padding:30px;
    background-color:cornsilk;
}