.top-banner{
    display:grid;
    
    height: 500px;

    align-items: center;
    text-align: center;
    background-image: url('../bigger-logo.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;



    transition: 0.5s;
}


.top-banner:hover{
    height:550px;
    font-size: 1.1em;
}

.top-banner > .title{
    font-family: 'Roboto', sans-serif;

    color:yellow;
    font-size:4em;
}
.links a{
    background-color:cornsilk;
    width:fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.links{
    border:5px;
    border-color:black;
    border-style: solid;

    display: flex;

    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

