.contact-body{
    background-color: cornsilk;
    align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-body > .explain{
    font-size: 3em;
    background-color:floralwhite;
    border-style: solid;
    border-width: 5px;
    border-color:gray;

    margin-top: 5px;
}
.contact-body > .explain >div{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
    padding:5px;
}
.contact-body > .form{
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    background-image: url(../bigger-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-top:5px;
}