@media(max-width: 800px){
    .reviews{
        flex-direction: column;
    }

    .reviews > .actual-reviews{
        flex-direction: column;
    }

    .reviewer{
        width:100%;
    }

    .fake-review > .reviewer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-body > .form{

        width:100%;
        
        border-style: solid;
        border-width: 0px;
        border-color: transparent;
    }
    .contact-body > .form > .actual-form{

        width:100%;
    }

    .contact-body > .explain{
        font-size: 2em;
    }

}

@media(max-width: 1630px){
    body{
        width: 100%;
    }

    .sidebar-wrapper{
        display: none;
    }
}