@media(max-width: 1043px){
    
    .links{
        flex-direction: column;
        padding: 0px;
    }
    
    .reviews{
        flex-direction: column;
    }

    .reviews > .actual-reviews{
        flex-direction: column;
    }

    .reviewer{
        width:100%;
    }

    .fake-review > .reviewer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-body > .form{

        width:100%;
        
        border-style: solid;
        border-width: 0px;
        border-color: transparent;
    }
    .contact-body > .form > .actual-form{

        width:100%;
    }

    .contact-body > .explain{
        font-size: 2em;
    }


    .banner-links{
        display: none;
    }

    .links{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        border-top:3px solid black;
    }
}

@media(max-width: 1773px){
    body{
        width: 100%;
    }

    .sidebar-wrapper{
        display: none;
    }
}