.main-body > .reviews{
    margin: 0px;
    background-color: lavender;
    font-size: 2em;

    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body > .reviews > .review-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;

    text-align: center;
}
.reviewer{
    background-color: lavenderblush;
    text-align: center;
}

.reviews{
    border-style:outset;
    border-width: 20px;
    border-color: gold;
}

.reviews > .actual-reviews{
    width:100%;
    display: flex;
    justify-content: space-between;

    border-color: black;
    border-width: 10px;
    align-items: center;
}

.reviews > .actual-reviews > .fake-review{
    padding: 5px;
    border-width: 1px;
    border-color: black;
    text-align: center;
    align-items: center;
}
