.sidebar-wrapper{
    position: fixed;
    top:0px;
    right: 0px;
    bottom:10px;
    left: 1620px;
    background-color:lightgoldenrodyellow;
    border: 2px solid goldenrod;
    box-shadow: -10px 10px;
      
}

.sidebar-wrapper > .sidebar > .youtube-ad > a{
    font-size: 1rem;
    
}
.sidebar-wrapper > .sidebar > a:hover{
    font-size: 1.05em;
    letter-spacing: 0px;
    color: orangered;
}

.sidebar-wrapper > .sidebar > .sidebar-links{
    border: none;
    padding: 5px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.sidebar-wrapper > .sidebar > .sidebar-links > a{
    font-size: 1.5em;
}
.youtube-ad{
    padding: 5px;
    text-align: center;
    border: solid 2px black;
    margin: 3px;
}

.bottom-sidebar{
    display: flex;
    justify-content: center;
    font-size:3em;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.bottom-sidebar > .copyright{
    font-size: 0.75rem;
}